


  <section>
    <div class="container">
      <div class="row">
        <div id="hero" class="d-flex flex-column aligns-items-center justify-content-center">
          <div data-aos="fade-in">
            <h1>Agile N1</h1>
            <p>We're <span class="typed" data-typed-items="Agile, Innovative, Number One"></span></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  

  <section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Sobre nós</h5>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Missão</h4>
                                <p class="card-text">Ser a consultoria que melhor entende e satisfaz as necessidades dos clientes e oferecer serviços com excelência.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Visão</h4>
                                <p class="card-text">Sermos reconhecidos no Brasil como referência em Gestão de Projetos Ágeis.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Valores</h4>
                                <p class="card-text">Respeito, cooperação, inovação e honestidade</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>